@charset "utf-8";
/* CSS Document */
/*模态层*/
.modal{ width:100%; height:100%; background:#000; opacity:.3; position:fixed; top:0; left:0; z-index:10; display:none}

/*登录弹框*/
.popBox_logon .openBtn{ width:100px; height:40px; border:1px solid #ccc; border-radius:5px; display:block; margin:100px auto}
.popBox_logon{width:500px;height:220px; background:#fff;position:absolute;top:0;left:0; z-index:20; display:none}
.popBox_logon input{ height:30px; width:200px; border:1px solid #ccc;}
.popBox_logon p{ padding-left:50px; padding-top:20px;}
.popBox_logon h4{height:40px; line-height:40px; text-indent:1em; background:#ccc;cursor:move}
.popBox_logon .logonBtn{width:100px; height:30px;border:1px solid #ccc; margin-left:66px}

/*错误弹框*/
.popBox_error{ padding:10px; background:red; color:#fff; font-size:16px; position:absolute; border-radius:5px; margin-top:-8%; max-width:300px}

/*轮播图*/
.slide { width: 400px; height: 260px; overflow: hidden; position: relative; margin: 150px auto 0; background: #ccc; }

.slide ol { position: absolute;right: 20px; bottom: 20px; z-index: 2; }
.slide ol li { float: left; margin-right: 3px; display: inline; cursor: pointer; background: #fcf2cf; border: 1px solid #f47500; width:24px; height:24px; line-height:24px; text-align:center;  color: #d94b01; font-family: arial; font-size: 12px; }
.slide .ac {font-weight: bold; color: #ffffff; background: #ffb442; position: relative;}

.slide ul { position: absolute; top: 0; left: 0; z-index: 1; }
.slide ul li { width: 400px; height: 260px; float: left; }
.slide ul img {width: 400px; height: 260px; }

.slide .moveBtn { width: 40px; height:40px; line-height:35px; font-size:30px;color: #fff; text-align: center;background: #333; opacity:.4; position: absolute; top: 50%; margin-top:-20px; z-index: 2; }
.slide .prev { left: 10px; }
.slide .next { right: 10px; }

#slideA ol li{ border-radius:50%}
